{
  "twitter_accounts": [
    "stable",
    "vitalik"
  ],
  "nitter_instances": [
    "https://nitter.poast.org",
    "https://nitter.privacyredirect.com"
  ],
  "check_interval": 1,
  "notification_title": "Twitter 新推文",
  "fwalert_webhook_url": "https://fwalert.com/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
}

